<div class="container">
  <div  class="">
    <%= simple_form_for @tool do |f| %>
      <%= f.input :name, label: "Enter new tools name:" %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
