<div class="container">
  <div  class="center-form shadow">
    <%= simple_form_for @tool do |f| %>
      <%= f.input :name, label: "Enter new tool's name:" %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file , class:"mb-2" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
