<div class="container">
  <div class="ms-4 mb-4 mt-2">
    <h1><%= @tool.name.capitalize %></h1>
  </div>


  <div class="row">


    <div class="col-2">
      <ul style="list-style: none;">
        <% @tool.photos.each_with_index do |photo, index| %>
          <li class="mb-2 shadow"><%= cl_image_tag photo.key, height: 120, width: 120, crop: :pad %></li>
        <% end %>

        <!--
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        -->

      </ul>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <% if @tool.photos.attached? %>
          <img class="img-fluid show-img" src="<%= cl_image_path @tool.photos[0].key, crop: :pad %>">
        <% else %>
          <img class="img-fluid show-img" src="https://source.unsplash.com/random/400×400/?<%= @tool.name.gsub(" ","-")%>)">
        <% end %>
    </div>
    <div class="col-3 bg-dark text-white h-75 d-inline-block pt-2">
      <p>
        <% if @tool.rating.present? %>
          <% @tool.rating.times do %>
            <i class="fa-solid fa-star" style="color: #FEDE01;"></i>
          <%end%>
          <% (5 - @tool.rating).times do %>
            <i class="fa-regular fa-star" style="color: #FEDE01;"></i>
          <%end%>
        <%else%>
          <% 5.times do %>
            <i class="fa-regular fa-star" style="color: #FEDE01;"></i>
          <%end%>
        <%end%>
      </p>
      <div class="mb-3">
      <span>Offered by: <%= @tool.user.name %> </span>
      </div>
      <div class="price fs-2 mb-3">
        <%= number_to_currency(@tool.price) %>
      </div>
      <div class="mb-4">
        <% if @tool.user == current_user %>
          <div class = "d-flex justify-content-around">
            <%= link_to "Edit tool", edit_tool_path(@tool), class:"btn-yellow-lg" %>
            <%= link_to "Delete",
              tool_path(@tool),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "btn-orange-lg"
            %>
          </div>
        <% elsif Rental.find_by(tool_id: @tool.id).present? %>
          <h6 style="color: red">Currently Rented</h5>
        <% else %>
          <%= link_to "Rent now", new_tool_rental_path(@tool), class:"btn-yellow-lg" %>
        <% end %>
      </div>
    </div>
  </div>
