<div class="container">
  <div class="ms-4 mb-4 mt-2">
    <h1><%= @tool.name.capitalize %></h1>
  </div>
  <div class="row">
    <div class="col-2">
      <ul style="list-style: none;">
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
        <li><img class="show-carousel-img mb-1" src="https://source.unsplash.com/random/120×120/?<%= @tool.name.gsub(" ","-")%>)"></li>
      </ul>
    </div>
    <div class="col-6">
      <% if @tool.photo.attached? %>
          <img class="img-fluid" src="<%= cl_image_path @tool.photo.key, crop: :fill %>">
        <% else %>
          <img class="img-fluid" src="https://source.unsplash.com/random/400×400/?<%= @tool.name.gsub(" ","-")%>)">
        <% end %>
    </div>
    <div class="col-3 bg-dark text-white h-75 d-inline-block">
      <p>
        <% @tool.rating.times do %>
          <i class="fa-solid fa-star" style="color: #FEDE01;"></i>
        <%end%>
        <% (5 - @tool.rating).times do %>
          <i class="fa-regular fa-star" style="color: #FEDE01;"></i>
        <%end%>
      </p>
      <div class="mb-3">
      <span>Offered by: <%= @tool.user.name %> </span>
      </div>
      <div class="price fs-2 mb-3">
        <%= number_to_currency(@tool.price) %>
      </div>
      <div class="mb-4">
        <%= link_to "Rent now", new_tool_rental_path(@tool), class:"btn-yellow-lg" %>
      </div>
    </div>
  </div>
</div>
