<div class="container">
  <h1 class="my-3">My Rentals</h1>

  <% @rentals.each do |rental| %>
    <% if rental.user == current_user %>

      <div class="card-product mb-4">

        <% if rental.tool.photos.attached? %>
            <img src="<%= cl_image_path rental.tool.photos[0].key, height: 300, width: 400, crop: :pad %>">
        <% else %>
          <img src="https://source.unsplash.com/random/300×700/?<%= rental.tool.name.gsub(" ","-")%>)">
        <% end %>

        <div class="card-product-infos ms-3">
          <h2 class="mb-4"><%= rental.tool.name.capitalize %></h2>
          <p>You rented it for: <strong><%= rental.num_days %></strong> days (to be returned by <%= rental.end_date.strftime("%B %-d, %Y") %>)</p>
          <p>Price per day: <strong><%= number_to_currency(rental.tool.price) %></strong></p>
          <p>Final price: <strong><%= number_to_currency(rental.tool.price * rental.num_days) %></strong></p>
        </div>
      </div>



    <% end %>
  <%end%>
      <span class="mb-2"><%= link_to :back do %>
          <i class="fa-solid fa-arrow-left" style="font-size: 30px; color: orange"></i>
        <% end %>
      </span>
</div>
