<div class="container">
  <h1>Rent <%= @tool.name.capitalize %></h1>
  <div class="d-flex justify-content-center">
    <div  class="center-form shadow">
      <%= simple_form_for [@tool, @rental] do |f| %>
        <%= f.input :days, label: "Select the number of days to rent:" %>
        <%= f.input :delivery, collection: [ "Pickup", "Delivery"], label: "Chose delivery method:" %>
        <%= f.submit "Rent", :class => "btn-yellow-lg" %>
      <% end %>
    </div>
  </div>
</div>
