<div class="d-flex justify-content-center">
  <div  class="center-form shadow">
    <div class="container d-flex justify-content-center flex-column align-items-center">
      <span class="mt-3" style="font-size: 26px">
        <i style="padding-right: 10px" class="fa-solid fa-arrow-right-to-bracket"></i>Log In</span>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
        <div class="form-inputs mt-3">
          <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions mb-2">
          <%= f.button :submit, "Log In", class:"btn-orange" %>
        </div>
      <% end %>
      <span>Not a member? <%= render "devise/shared/links" %> </span>
    </div>
  </div>
</div>
