<!DOCTYPE html>
<html>
  <head>
    <title>Tool Handler</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property='og:title' content='Tool Handler'/>
    <meta property='og:image' content='https://asset.cloudinary.com/djlk9ksfg/65ac9ff1ab199022a305f41383393a57'/>
    <meta property='og:description' content="Don't buy tools for single-use, rent them!"/>
    <meta property='og:url' content='https://tool-handler.herokuapp.com/'/>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <script src='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css' rel='stylesheet' />


    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render "shared/navbar" %>
    <%= yield %>
  </body>
</html>
